name: Octocat Blog App Lint

on:
  push:
    branches: ["main", "develop/**"]
    paths:
      - "apps/octocat-blog-app/**"
      - "packages/ui/**"
      - "packages/eslint-config/**"
      - "pnpm-lock.yaml"
  pull_request:
    branches: [main]
    paths:
      - "apps/octocat-blog-app/**"
      - "packages/ui/**"
      - "packages/eslint-config/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Disable Corepack
        run: corepack disable

      - name: Install dependencies
        run: pnpm install

      - name: Run linting
        run: |
          cd apps/octocat-blog-app
          pnpm lint
